body,
html {
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

img {
  display: block;
  position: fixed;
  width: auto;
}
#bg {
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
.grass1 {
  z-index: 6;
  bottom: 0;
  width: 100vw;
  height: auto;
}

.grass2 {
  z-index: 4;
  bottom: 0%;
  width: 100vw;
  height: auto;
}
#field1 {
  z-index: 2;
  width: 100vw;
  height: auto;
  bottom: 0;
}
.scrollElement {
  position: absolute;
  height: 2500px;
  width: 100px;
  top: 0;
  z-index: 0;
}

.btn {
  position: fixed;
  bottom: 5%;
  right: 0px;
  transform: translateX(-50%);
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 0.5rem 0.7em;
  background-color: transparent;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 11;
}

.btn_works {
  left: 100px;
  right: unset;
  text-decoration: none;
}

.btn:hover {
  background: #ffffff;
  color: #1b1734;
}

body,
div,
p {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.go {
  width: 25px;

  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  z-index: 12;
}
.go-prev,
.go-next {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 5px;
}
.go-next {
  left: calc(100% - 32px);
}
h1 {
  position: absolute;
  top: 50%;
  width: 100%;
  font-weight: 800;
  font-size: 36px;
  margin: 0;
}
nav {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: inherit;
  z-index: 100;
  visibility: hidden;
}
.navDot {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: black;
  opacity: 0.5;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-right: 20px;
  float: left;
  cursor: pointer;
}
.navDot:last-of-type {
  margin-right: 0px;
}
.navDot:hover {
  border: 1px solid black;
}

.slides-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  background-image: url("../img/scene1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slide {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

#slide02 .wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
}

.apple01 {
  position: absolute;
  top: 56%;
  left: 40%;
  width: 160vh;
}
.apple02 {
  position: absolute;
  top: 58%;
  left: 58%;
  width: 160vh;
}
/* cows */
.cow-1 {
  position: absolute;
  display: block;
  z-index: 100;
  max-width: 470px;
  width: 100%;
  height: 400px;
  top: 60vh;
  right: 6vw;
}
.cow-2 {
  position: absolute;
  display: block;
  z-index: 100;
  max-width: 350px;
  width: 100%;
  height: 230px;
  height: 230px;
  top: 60vh;
  left: 20vw;
}
.scene1 {
  width: 100%;
  height: auto;
}
.img-absolute,
.scene1 {
  position: absolute;
  display: block;
}
.cow-tail-1 {
  right: 88px;
  top: 150px;
}
.cow-head-1 {
  top: 19px;
  left: 28px;
  z-index: 101;
}
.cow-ear-left-1 {
  top: 23px;
  left: 36px;
}
.cow-ear-right-1 {
  top: 68px;
  left: 108px;
}
/* cow 2 */
.cow-tail-2 {
  top: 53px;
}
.cow-leg-2 {
  right: 111px;
  top: 154px;
}
.cow-head-2 {
  top: 25px;
  right: 27px;
  z-index: 101;
}
.cow-ear-left-2 {
  top: 36px;
  right: 78px;
  z-index: 100;
}
.cow-ear-right-2 {
  top: 43px;
  right: 33px;
}
